/* Reset style CSS */
* {
  padding: 0;
  margin: 0;
  border: 0; }

*,
*:before,
*:after {
  box-sizing: border-box; }

:focus,
:active {
  outline: none; }

a:focus,
a:active {
  outline: none; }

nav,
footer,
header,
aside {
  display: block; }

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input,
button,
textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a,
a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit; }

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

main {
  display: flex;
  flex-grow: 0; }

footer {
  margin-top: auto;
  position: relative;
  flex-shrink: 0; }

.block-social-media-links-block li, .block-field-blocknodeour-teamfield-social li {
  padding: 0.2em 3px !important; }
.block-social-media-links-block span, .block-field-blocknodeour-teamfield-social span {
  font-size: 28px;
  color: #6e9bca; }

.views-row h2 a .field--label-hidden {
  display: none; }

.pager .pager__item.is-active a {
  padding: 6px 10px;
  font-weight: 600;
  border-radius: 50%;
  background-color: rgba(155, 155, 155, 0.4); }
.pager .pager__item a {
  color: #9b9b9b; }

.block-views-blockprojects-taxonomy-block-1 .view-content .views-row .views-field-term-node-tid {
  display: none; }

.vocabulary-services-projects .field--name-name, .vocabulary-news-category .field--name-name {
  text-align: center;
  padding: 15px;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 700;
  position: relative; }
  .vocabulary-services-projects .field--name-name:before, .vocabulary-news-category .field--name-name:before {
    position: absolute;
    bottom: 0;
    left: 45%;
    content: "";
    width: 10%;
    height: 5px;
    background-color: #bdbdbd; }

.block-views-blocknews-taxonomy-block-1 .view-id-news_taxonomy .view-content {
  flex-wrap: wrap; }
  .block-views-blocknews-taxonomy-block-1 .view-id-news_taxonomy .view-content .views-row .layout--twocol-section--25-75:first-child .layout__region--second .block-field-blocknodenewsfield-news-category {
    display: none; }

.node--type-our-team img {
  filter: grayscale(100%);
  transition: filter 0.5s; }
  .node--type-our-team img:hover {
    filter: grayscale(0%); }

.view-search-page .pager {
  margin-top: 30px; }
  .view-search-page .pager .pager__item {
    padding: 0.4em; }
.view-search-page .view-empty {
  text-align: center;
  width: 290px;
  margin: 25% auto;
  font-size: 30px;
  font-weight: 700; }
.view-search-page .view-content {
  text-align: center;
  width: 320px;
  display: flex;
  flex-direction: column;
  font-size: 24px;
  text-transform: uppercase;
  line-height: 16px; }
  .view-search-page .view-content .views-row {
    margin: 15px; }
    .view-search-page .view-content .views-row a {
      color: black; }
      .view-search-page .view-content .views-row a:hover {
        border-bottom: 2px solid black; }

a[href="/web-development"] {
  color: #1bbc9b; }

a[href="/php-development"] {
  color: #9b58b5; }

a[href="/app-development"] {
  color: #e84c3d; }

a[href="/drupal-project"] {
  color: #28a9e0; }

/*# sourceMappingURL=elements.css.map */
