@font-face {
  font-family: 'Peckham';
  src: url("../font/Peckham-SemiBold.woff2") format("woff2"), url("../font/Peckham-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Mustica Pro';
  src: url("../font/MusticaPro-Light.woff2") format("woff2"), url("../font/MusticaPro-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Alesand Regular';
  src: url("../font/AlesandRegular.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Alesand Bold';
  src: url("../font/AlesandBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap; }
footer {
  padding: 75px 0 55px 0;
  width: 100%;
  background-color: #373645;
  border-bottom: 5px solid #494955; }
  footer .region-footer {
    text-align: center;
    margin: 0 auto;
    max-width: 1325px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    footer .region-footer .block-system-branding-block {
      margin-left: 25px;
      text-align: center; }
      footer .region-footer .block-system-branding-block .site-name a {
        color: #658ab3;
        font: 32px 'Peckham', sans-serif;
        letter-spacing: 1px;
        font-weight: 600;
        padding: 0; }
      footer .region-footer .block-system-branding-block .site-slogan {
        margin-top: -8px;
        color: #8e8d96;
        font: 15px 'Mustica Pro', sans-serif; }

@media (max-width: 1325px) {
  footer {
    padding: 70px 0 50px 0; }
    footer .region-footer {
      max-width: 1200px; } }
@media (max-width: 1200px) {
  footer {
    padding: 65px 0 45px 0; }
    footer .region-footer {
      max-width: 992px; }
      footer .region-footer .block-system-branding-block {
        margin-left: 15px; }
        footer .region-footer .block-system-branding-block .site-name a {
          font-size: 26px; }
        footer .region-footer .block-system-branding-block .site-slogan {
          margin-top: -6px;
          font-size: 13px; } }
@media (max-width: 992px) {
  footer {
    padding: 60px 0 40px 0; }
    footer .region-footer {
      max-width: 667px; }
      footer .region-footer .block-system-branding-block {
        margin-left: 5px; }
        footer .region-footer .block-system-branding-block .site-name a {
          font-size: 20px; }
        footer .region-footer .block-system-branding-block .site-slogan {
          margin-top: -4px;
          font-size: 13px; } }
@media (max-width: 667px) {
  footer {
    padding: 55px 0 35px 0; }
    footer .region-footer {
      max-width: 320px;
      flex-direction: column;
      justify-content: center; }
      footer .region-footer .block-system-branding-block {
        margin: 0 0 10px 0; }
        footer .region-footer .block-system-branding-block .site-slogan {
          margin-top: -2px; } }

/*# sourceMappingURL=footer.css.map */
