/* About */
@import "mixin";
.block-views-blockabout-block-1 {
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  padding: 106px 0 100px;

  .view-content {
    padding: 15px 0;
    border-bottom: 5px solid #6e9bca;
    border-top: 5px solid #000000;

    .views-row {
      display: flex;
      justify-content: center;
      align-items: center;

      .views-field-title {
        font-size: 30px;
        font-weight: bold;
        letter-spacing: -0.8px;
      }

      .views-field-body {
        padding: 0 44px 0 24px;
        font-size: 20px;
        letter-spacing: -0.6px;
      }

      @include button;
    }
  }

  &:before {
    top: 0;
    position: absolute;
    content: "";
    width: calc(100% - 30px);
    height: 5px;
    background: linear-gradient(90deg, #6e9bca 33%, #000000 5%, #cccccc 17%, #cccccc 55%);
  }
}
