/* Header */
header {
  width: 100%;
  .header-menu {
    display: flex;
    justify-content: center;
    max-width: 1280px;
    margin: 0 auto;
    .region-header {
      position: fixed;
      display: flex;
      flex-direction: row;
      align-items: center;
      z-index: 5;
      max-width: 1250px;
      margin: 40px 15px 0;
      background-color: white;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
      .menu--main {
        padding-left: 15px;
      }
      .menu-item {
        a {
          font: 18px 'Alesand Regular', sans-serif;
          text-transform: uppercase;
          color: black;
        }
        &:first-child {
          a {
            font-size: 0;
            background-image: url("../img/Homepage-menu.png");
            background-repeat: no-repeat;
            background-color: transparent;
          }
        }
      }
      a.is-active {
        position: relative;
        &:before {
          position: absolute;
          content: "";
          width: 100%;
          height: 6px;
          bottom: -46px;
          left: 0;
          background-color: #6e9bca;
        }
      }
      .block-system-branding-block {
        text-align: center;
        padding: 22px 36px 36px;
        background-color: #373645;
        .site-name a {
          padding: 0;
          font: 600 32px 'Peckham', sans-serif;
          letter-spacing: 1px;
          color: #658ab3;
        }
        .site-slogan {
          margin-top: -8px;
          font: 15px 'Mustica Pro', sans-serif;
          color: #8e8d96;
        }
      }
      #block-button {
        display: none;
        margin: 0 15px;
        cursor: pointer;
        position: relative;
        height: 4px;
        border-radius: 3px;
        width: 30px;
        background-color: #373645;
        &::after, &::before {
          content: "";
          position: absolute;
          border-radius: 3px;
          height: 4px;
          width: 30px;
          background-color: #373645;
        }
        &::after {
          bottom: 7px;
        }
        &::before {
          top: 7px;
        }
        .contextual {
          top: 0;
        }
      }
      .menu {
        display: flex;
        flex-direction: row;
        li {
          padding-right: 24px;
          &:first-child {
            margin-top: 18px;
            padding: 0;
            a {
              padding: 30px 15px 16px;
              margin-right: 30px;
            }
            a.is-active {
              &:before {
                bottom: -29px
              }
            }
          }
        }
      }
      .block-views-exposed-filter-blocksearch-page-page-1 {
        position: relative;
        margin-left: 25px;
        padding-right: 32px;
        .form-item-search-api-fulltext {
          input {
            width: 210px;
            display: flex;
            align-items: center;
            height: 40px;
            padding: 0 0 0 8px;
            border: 1px solid #dedede;
          }
        }
        .form-item {
          margin: 0;
        }
        .form-submit {
          position: absolute;
          right: 35px;
          top: -3px;
          height: 40px;
          width: 40px;
          margin-top: 3px;
          background-image: url("../img/search-icon.svg");
          background-size: contain;
          background-repeat: no-repeat;
          background-color: transparent;
          border-left: 1px solid #dedede;
        }
      }
    }
  }
  .header-background {
    position: relative;
    .region-background {
      .field__label {
        display: none;
      }
      img {
        width: 100%;
        height: auto;
      }
    }
    .region-text {
      position: absolute;
      top: 42%;
      left: 20.5%;
      width: 400px;
      text-transform: uppercase;
      #block-text {
        font-size: 68px;
        color: white;
        letter-spacing: -0.050em;
      }
      #block-text-2 {
        margin-top: -4px;
        font-size: 40px;
        color: black;
        word-spacing: -3px;
        letter-spacing: -0.020em;
      }
      #block-text-3 {
        margin-top: 2px;
        width: 370px;
        font-size: 14px;
        color: #658ab3;
        letter-spacing: -0.020em;
        padding: 0 4px;
        line-height: 16px;
      }
    }
  }
}
/* Adaptive for header */
@media (max-width: 1280px) {
  header {
    .header-menu {
      .region-header {
        max-width: 992px;
        .block-system-branding-block {
          .site-name a {
            font-size: 26px;
          }
          .site-slogan {
            margin-top: -6px;
            font-size: 13px;
          }
        }
        #block-button {
          display: flex;
        }
        .menu--main {
          display: none;
          padding: 0;
        }
        .menu--main.active {
          top: 100%;
          position: absolute;
          display: flex;
          justify-content: center;
          width: 100%;
          background-color: white;
          border: 1px solid #373645;
          .menu {
            display: flex;
            justify-content: center;
            flex-direction: column;
            margin: 0;
            li {
              padding: 5px;
              text-align: center;
              a.is-active {
                &:before {
                  height: 4px;
                  bottom: 0;
                }
              }
              &:first-child {
                padding: 20px 5px;
                a {
                  margin: 0;
                }
                a.is-active {
                  &:before {
                    height: 4px;
                    bottom: 8px;
                  }
                }
              }
            }
          }
        }
      }
    }
    .header-background {
      .region-text {
        top: 38%;
        left: 15.5%;
        width: 250px;
        #block-text {
          font-size: 37px;
        }
        #block-text-2 {
          font-size: 26px;
          word-spacing: -1;
        }
        #block-text-3 {
          width: 210px;
          font-size: 14px;
          padding: 0 2px;
          line-height: 14px;
        }
      }
    }
  }
}
@media (max-width: 992px) {
  header {
    .header-menu {
      .region-header {
        max-width: 680px;
        .block-system-branding-block {
          .site-name a {
            font-size: 20px;
          }
          .site-slogan {
            margin-top: -4px;
            font-size: 13px;
          }
        }
      }
    }
  }
}
@media (max-width: 680px) {
  header {
    .header-menu {
      .region-header {
        margin: 5px 15px;
        padding: 0;
        max-width: 320px;
        flex-direction: column;
        .block-system-branding-block {
          padding: 12px 22px 12px;
        }
        .block-social-media-links-block {
          margin-top: 2px;
        }
        #block-button {
          margin: 15px;
          order: 3;
        }
        .block-views-exposed-filter-blocksearch-page-page-1 {
          margin: 0;
          padding: 0;
          order: 1;
          width: 140px;
          .form-item-search-api-fulltext {
            input {
              width: 140px;
            }
          }
          .form-submit {
            right: 0;
          }
        }
      }
    }
    .header-background {
      .region-text {
        top: 38.5%;
        left: 24.5%;
        width: 140px;
        #block-text {
          font-size: 18px;
        }
        #block-text-2 {
          margin: -1px;
          font-size: 11px;
          word-spacing: 0;
        }
        #block-text-3 {
          margin: 2px 0 0 -1px;
          padding: 0;
          width: 90px;
          font-size: 6px;
          line-height: 6px;
        }
      }
    }
  }
}
