/* Main-content */
@import "fonts";
@import "mixin";

.main__content {
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;

  /* Global setting`s for view */
  .view {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .view-content {
    display: flex;
    max-width: 1280px;
    flex-direction: row;
  }

  @import "about";
  @import "services";
  @import "project";
  @import "teams";
  @import "news";

}

/* Adaptive for main-content */
@media (max-width: 1310px) {
  .main__content {
    .view-content {
      display: flex;
      max-width: 798px;
      justify-content: center;
      flex-direction: unset;
      flex-wrap: wrap;

      .views-row {
        padding: 0;
        margin: 10px;
      }
    }

    .block-views-blockabout-block-1 {
      .view-content {
        .views-row {
          text-align: center;
          flex-direction: column;
          padding: 0;
          margin: 0;

          .views-field-body {
            padding: 0;
          }

          .field-content {
            padding: 10px 0;
          }
        }
      }
    }

    .block-views-blockservices-block-1 {
      h2 {
        width: 768px;
        margin: 0 auto;
        @include line(50%, 39%);
      }

      .view-content {
        .views-row {
          width: 290px;
          padding: 0;
          margin: 15px 10px;
        }
      }
    }

    .block-views-blockprojects-block-1, .block-views-blockprojects-taxonomy-block-1 {
      h2 {
        display: flex;
        width: 768px;
        margin: 0 auto;
        @include line(28%, 38.8%);
      }

      .view-id-projects, .view-id-projects_taxonomy {
        .view-content {
          .views-row {
            padding: 0;
            margin: 15px 10px;

            &:first-child, &:last-child {
              margin: 15px 10px;
            }
          }
        }
      }
    }

    .block-views-blockour-team-block-1 {
      h2 {
        display: flex;
        width: 768px;
        margin: 0 auto;
        @include line(50%, 38.5%);
      }

      .view-content {
        .views-row {
          padding: 0;
          margin: 15px 10px;
        }
      }
    }

    .block-views-blocknews-search-block-1, .block-views-blocknews-taxonomy-block-1 {
      h2 {
        width: 768px;
        margin: 0 auto 35px auto;
        @include line(50%, 42.6%);
      }

      .view {
        align-items: center;
      }

      .view-news-search, .view-id-news_taxonomy {
        .view-filters {
          width: auto;
          margin: 5px 0;
        }

        .view-empty {
          width: 768px;
          margin: 14.5% auto;
        }

        .view-content {
          margin: 0;
          justify-content: center;

          .views-row {
            margin: 10px 0;
          }
        }
      }
    }
  }
}

@media (max-width: 828px) {
  .main__content {
    .view-content {
      max-width: 567px;

      .views-row {
        padding: 0;
        margin: 5px;
      }
    }

    .block-views-blockabout-block-1 {
      .view-content {
        .views-row {
          width: 567px;
          text-align: center;
          flex-direction: column;
          padding: 0;
          margin: 0;

          .views-field-body {
            font-size: 18px;
          }

          .field-content {
            padding: 10px 0;
          }
        }
      }
    }

    .block-views-blockservices-block-1 {
      padding: 0;

      h2 {
        width: 447px;
        @include line(50%, 29.75%);
      }

      .view-content {
        .views-row {
          width: 220px;
          padding: 0;
          margin: 15px 10px;
        }
      }
    }

    .block-views-blockprojects-block-1, .block-views-blockprojects-taxonomy-block-1 {
      h2 {
        width: 447px;
        @include line(28%, 29.75%);
      }
      img {
        width: 225px;
        height: 225px;
      }
    }

    .block-views-blockour-team-block-1 {
      h2 {
        width: 447px;
        @include line(50%, 29.5%);
      }

      img {
        width: 225px;
        height: 225px;
      }

      .view-content {
        .views-row {
          padding: 0;

          .layout--twocol-section--67-33 {
            flex-direction: column;

            .likeit {
              display: flex;
              justify-content: center;
              margin: 0;

              .icon-like {
                height: 25px;
                margin: 8px 0 0 6px;
              }
            }
          }
        }
      }
    }

    .block-views-blocknews-search-block-1, .block-views-blocknews-taxonomy-block-1 {
      h2 {
        width: 447px;
        @include line(50%, 36.8%);
        margin: 0 auto 35px auto;
      }

    }
  }
}

@media (max-width: 597px) {
  .main__content {
    .view-content {
      max-width: 290px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: unset;
      flex-wrap: wrap;

      .views-row {
        padding: 0;
        margin: 5px;
      }
    }

    .block-views-blockabout-block-1 {
      .view-content {
        .views-row {
          text-align: center;
          flex-direction: column;
          padding: 0;
          margin: 0;

          .views-field-body {
            font-size: 18px;
          }

          .field-content {
            padding: 10px 0;
          }
        }
      }
    }

    .block-views-blockservices-block-1 {
      padding: 0;

      h2 {
        width: 260px;
        @include line(50%, 19.75%);
      }

      .view-content {
        .views-row {
          width: 290px;
          padding: 0;
          margin: 15px 10px;
        }
      }
    }

    .block-views-blockprojects-block-1, .block-views-blockprojects-taxonomy-block-1 {
      h2 {
        width: 260px;
        @include line(28%, 19.75%);
      }
      img {
        width: 290px;
        height: 290px;
      }
    }

    .block-views-blockour-team-block-1 {
      h2 {
        width: 260px;
        @include line(50%, 18.5%);
      }

      img {
        width: 290px;
        height: 290px;
      }


      .view-content {
        .views-row {
          padding: 0;

          .layout--twocol-section--67-33 {
            flex-direction: column;

            .likeit {
              display: flex;
              justify-content: center;
              margin: 0;

              .icon-like {
                height: 25px;
                margin: 8px 0 0 6px;
              }
            }
          }
        }
      }
    }

    .block-views-blocknews-search-block-1, .block-views-blocknews-taxonomy-block-1 {
      h2 {
        width: 260px;
        @include line(50%, 31%);
        margin: 0 auto 35px auto;
      }

      .view {
        align-items: center;
      }

      .view-news-search, .view-id-news_taxonomy {
        .view-empty {
          width: 290px;
          margin: 25% auto;
        }

        .view-filters {
          width: auto;
          margin: 5px 0;

          .form--inline {
            margin: 0;

            .form-text {
              width: 225px;
            }
          }
        }

        .view-content {
          .views-row {
            width: 290px;
            margin: 10px 0;

            .field--name-field-button {
              margin-right: 0;
            }

            .layout--twocol-section--25-75 {
              flex-direction: column;

              &:first-child {
                .layout__region--first {
                  padding: 15px 0;
                  margin-top: 0;
                }

                .layout__region--second {
                  display: flex;
                  flex-wrap: nowrap;
                  align-items: center;
                  flex-direction: column;
                  border-left: none;
                  margin: 0 !important;
                  padding: 15px 0;

                  .block {
                    margin: 2px;
                  }

                  img {
                    margin: 0;
                  }

                  .block-field-blocknodenewsfield-writer {
                    .field__item {
                      margin-right: 0;

                      &::after {
                        content: "";
                      }
                    }
                  }

                  .block-field-blocknodenewsfield-when-was-the-publication {
                    margin: 0;
                  }

                  .field__item {
                    justify-content: flex-start;
                  }
                }
              }

              .layout__region--second {
                margin: 0 auto;
                border-left: none;

                .block-field-blocknodenewstitle {
                  font-size: 20px;
                  border-top: 1px solid grey;
                  margin: 0 15px 15px;
                  padding-top: 15px;
                }

                .field--type-text-with-summary {
                  margin: 0 15px 5px;
                }

                .block-field-blocknodenewsfield-button {
                  .field__item {
                    margin: 10px 0;
                    justify-content: center;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

