@import "fonts";
@import "mixin";

.main__content {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;

  .block-views-blockabout-block-1 {
    position: relative;
    max-width: 1250px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    padding: 106px 0 100px;

    .view-content {
      padding: 15px 0;
      border-bottom: 5px solid #6e9bca;
      border-top: 5px solid #000000;

      .views-row {
        display: flex;
        justify-content: center;
        align-items: center;

        .views-field-title {
          font-size: 30px;
          font-weight: bold;
          letter-spacing: -0.8px;
        }

        .views-field-body {
          padding: 0 44px 0 24px;
          font-size: 20px;
          letter-spacing: -0.6px;
        }

        @include button;
      }
    }
  }

  .block-views-blockservices-block-1 {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    text-align: center;
    flex-direction: column;
    text-transform: uppercase;

    h2 {
      font-size: 28px;
      font-weight: 700;
      padding: 0 15px;
      position: relative;

      @include line(50%, 42.8%);
    }

    .view-content {
      padding: 100px 0 116px;
      align-items: center;

      .views-row {
        padding: 0 15px;
        &:first-child {
          padding-left: 0;
        }

        &:last-child {
          padding-right: 0;
        }

        .views-field-field-image {
          padding-bottom: 30px;
        }

        .views-field-title {
          font-size: 23px;
          letter-spacing: -2px;
          margin-bottom: 15px;
          color: #3e3d4c;
        }

        .views-field-body {
          font-size: 12px;
          line-height: 16px;
          margin-bottom: 30px;
          color: #dedede;
        }

        @include button;
      }
    }
  }

  .block-views-blockprojects-block-1 {
    display: flex;
    text-align: center;
    flex-direction: column;
    text-transform: uppercase;
    margin-bottom: 100px;

    h2 {
      width: 1250px;
      margin: 0 auto;
      font-size: 28px;
      font-weight: 100;
      letter-spacing: -1px;
      padding: 0 15px 18px;
      position: relative;
      @include line(25%, 42.8%);
    }

    .view-display-id-block_1 {
      background: repeating-linear-gradient(
          -45deg,
          #eee,
          #eee 1px,
          #fff 2px,
          #fff 10px
      );
    }

    .view-content {
      max-width: 1280px;
      margin: 0 auto;
      padding: 72px 15px 54px;
      align-items: center;

      .views-row {
        margin: 0 15px;
        background-color: white;
        border-bottom: 1px solid black;
        &:first-child {
          margin-left: 0;
          .views-field-term-node-tid {
            a {
              color: #1bbc9b;
            }
          }
        }

        &:nth-child(2) {
          .views-field-term-node-tid {
            a {
              color: #9b58b5;
            }
          }
        }

        &:nth-child(3) {
          .views-field-term-node-tid {
            a {
              color: #e84c3d;
            }
          }
        }

        &:last-child {
          margin-right: 0;
          .views-field-term-node-tid {
            a {
              color: #28a9e0;
            }
          }
        }

        .views-field-field-image {
          padding-bottom: 30px;
        }

        .views-field-title {
          font-size: 24px;
          margin: 8px 0;
        }

        .views-field-term-node-tid {
          margin: 12px 0;
          font-size: 15px;
        }
        .views-field-field-button {
          margin: 26px 0 20px;
        }
        @include detalis;
      }

    }
    .pager {
      margin-bottom: 160px;
      .pager__item {
        &.is-active {
          a {
            padding: 6px 12px;
            font-weight: 600;
            border-radius: 50%;
            background-color: rgba(155, 155 , 155 , 0.4);
          }
        }
        a {
          color: #9b9b9b;
        }
      }
    }
  }

  .block-views-blockour-team-block-1 {
    max-width: 1250px;
    margin: 0 auto;
    display: flex;
    text-align: center;
    flex-direction: column;
    text-transform: uppercase;

    h2 {
      font-size: 28px;
      font-weight: 700;
      padding: 0 15px;
      position: relative;

      @include line(50%, 42.3%);
    }

    .view-content {

      padding: 35px 0 116px;
      align-items: center;

      .views-row {
        padding: 0 15px;

        .node--view-mode-teaser {
          h2 {
            display: none;
          }
        }

        &:first-child {
          padding-left: 0;
        }

        &:last-child {
          padding-right: 0;
        }

        .block-field-blocknodeour-teamfield-image {
          padding-bottom: 38px;
        }
        .field--name-title {
          font-size: 24px;
        }
        .field--name-field-position {
          font-size: 13px;
          margin: 2px 0 27px;
        }
        .field--name-field-button {
          a {
            color: white;
            background-color: #373645;
            font-size: 16px;
            letter-spacing: -1px;
            padding: 6px;
            &:hover {
              background-color: #272630;
            }
          }
          margin-bottom: 24px;
        }
        .social-media-links--platforms {
          margin-left: -2px;
          li {
            padding: 0.2em 3px !important;
          }

          span {
            font-size: 28px;
            color: #6e9bca;
          }
        }
        .likeit {
          margin-top: 4px;
          .count {
            display: none;
          }
          .icon-like {
            height: 15px;
            margin: 6px 0 0 25px;
          }
        }
      }
    }
  }

  .view {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .view-content {
    display: flex;
    flex-direction: row;
  }
}

@media (max-width: 1310px) {
  .main__content {
    .view-content {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: unset;
      flex-wrap: wrap;
      .views-row {
        padding: 0;
        margin: 10px;
      }
    }
    .block-views-blockabout-block-1 {
      max-width: 798px;
      .view-content {
        .views-row {
          text-align: center;
          flex-direction: column;
          padding: 0;
          margin: 0;
          .views-field-body {
            padding: 0;
          }
          .field-content {
            padding: 10px 0;
          }
        }
      }
    }
    .block-views-blockservices-block-1 {
      max-width: 798px;
      padding: 0;
      h2 {
        max-width: 798px;
        @include line(50%, 39%);
      }
      .view-content {
        .views-row {
          width: 290px;
          padding: 0;
          margin: 15px 10px;
        }
      }
    }
    .block-views-blockprojects-block-1 {
      h2 {
        max-width: 798px;
        @include line(28%, 38.8%);
      }
      .view-content {
        max-width: 798px;
        .views-row {
          padding: 0;
          margin: 15px 10px;
          &:first-child, &:last-child {
            margin: 15px 10px;
          }
        }
      }
    }
    .block-views-blockour-team-block-1 {
      max-width: 798px;
      h2 {
        max-width: 798px;
        @include line(50%, 38.5%);
      }
      .view-content {
        .views-row {
          padding: 0;
          margin: 15px 10px;
        }
      }
    }
  }
}

@media (max-width: 828px) {
  .main__content {
    .view-content {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: unset;
      flex-wrap: wrap;
      .views-row {
        padding: 0;
        margin: 10px;
      }
    }
    .block-views-blockabout-block-1 {
      max-width: 290px;
      .view-content {
        .views-row {
          text-align: center;
          flex-direction: column;
          padding: 0;
          margin: 0;
          .views-field-body {
            font-size: 18px;
          }
          .field-content   {
            padding: 10px 0;
          }
        }
      }
    ;
    }
    .block-views-blockservices-block-1 {
      max-width: 290px;
      padding: 0;
      h2 {
        max-width: 290px;
        @include line(50%, 22.8%);
      }
      .view-content {
        .views-row {
          width: 290px;
          padding: 0;
          margin: 15px 10px;
        }
      }
    }
    .block-views-blockprojects-block-1 {
      h2 {
        max-width: 290px;
        @include line(28%, 22.9%);
      }
      .view-content {
        max-width: 290px;
        .views-row {
          padding: 0;
          margin: 15px 10px;
          &:first-child, &:last-child {
            margin: 15px 10px;
          }
        }
      }
    }
    .block-views-blockour-team-block-1 {
      max-width: 290px;
      h2 {
        max-width: 290px;
        @include line(50%, 21.5%);
      }
      .view-content {
        .views-row {
          padding: 0;
          .likeit {
            display: flex;
            justify-content: center;
            margin: 0;
            .icon-like {
              height: 25px;
              margin: 8px 0 0 6px;
            }
          }
        }
      }
    }
  }
}
